<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>{% block title %}App{% endblock %}</title>
</head>
<body>

<header class="navbar bg-primary">
    <section class="navbar-section px-2">
        <a href="{% url 'home' %}" class="navbar-brand mr-2 text-bold  text-secondary px-2">App</a>
        <a href="{% url 'cargar' %}" class="btn btn-link  text-secondary">Cargar BBDD</a>
        <a href="{% url 'loadRS' %}" class="btn btn-link  text-secondary">Cargar RS</a>
        <a href="{% url 'anime_list' %}" class="btn btn-link  text-secondary">Listar animes formato</a>
        <a href="{% url 'animes_mas_vistos' %}" class="btn btn-link  text-secondary">Listar animes mas vistos</a>
        <a href="{% url 'recomendar' %}" class="btn btn-link  text-secondary">Recomendar a usuario</a>


    </section>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>

